{% extends "layout.html" %}
{% block title %}Acerca de la práctica - KeplerSolarSystem{% endblock %}
{% block body %}
<h2>Práctica Mecánica Celeste</h2>

<p>Práctica realizada por Lothar Soto Palma alumno de la universidad de Granada
para la asignatura de mecánica celeste.
</p>
<p>Contacto vía:</p>
<ul>
  <li class="contact"><a href="https://www.facebook.com/lothar.sotopalma">Facebook</a></li>
  <li class="contact"><a href="https://twitter.com/Lothar94">Twitter</a></li>
  <li class="contact"><a href="#mailto:lsp.lot94@hotmail.com">Mail</a></li>
</ul>
{% endblock %}
