{% extends "layout.html" %}
{% block title %}KeplerSolarSystem{% endblock %}
{% block body %}
<h2>Práctica Mecánica Celeste</h2>
<p>Esta web es el resultado de lo aprendido en la asignatura de mecánica celeste
de la universidad de Granada, muestra un cálculo aproximado de las trayectorias
de los planetas del Sistema Solar. Estas han sido calculadas usando la ecuación
de Kepler haciendo a su vez uso de la anomalía excéntrica.</p>
<h2>Datos</h2>
<p>En la tabla se incluyen todos los datos que hemos usado para el cálculo de
  las trayectorias tanto para el caso bidimiensional como el tridimiensional.</p>
<table class="common">
  <tbody>
    <tr>
        <th class="common">Nombre</th>
        <th class="common">Semieje Major (a)</th>
        <th class="common">Periodo Mínimo (p)</th>
        <th class="common">Epsilon</th>
        <th class="common">i</th>
        <th class="common">Gamma</th>
    </tr>
  {% for planet in my_planets: %}
      <tr>
        <td class="common">{{ planet.getName() }}</td>
        <td class="common">{{ planet.getA_axe() }}</td>
        <td class="common">{{ planet.getPeriod() }}</td>
        <td class="common">{{ planet.getEpsilon() }}</td>
        <td class="common">{{ planet.get_i() }}</td>
        <td class="common">{{ planet.getGamma() }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
<h2>Gráficas</h2>
<form action="/" method="GET">
  <p>
    <label for="nD">Número de puntos: </label>
    <input id="nD" name="nDivisions" min="3" placeholder="Número de Divisiones"/>
  </p>
  <p><input type="submit" value="Generar" /></p>
</form>
<div style="text-align:center">
  <img src="data:image/png;base64,{{ img2d }}"/>
  <img src="data:image/png;base64,{{ img3d_1 }}"/>
  <img src="data:image/png;base64,{{ img3d_2 }}"/>
</div>
<h2>Animaciones</h2>
  <div style="text-align:center">
    <video>
      <source src="/static/0-5.mp4" type="video/mp4" />
      <source src="/static/0-7.mp4" type="video/mp4" />
    </video>
  </div>
<h2>Cálculos directos</h2>
<table class="common">
  <tbody>
    <tr>
        <th class="common">Nombre</th>
        <th class="common">Distancia al sol instante 0</th>
        <th class="common">|c|</th>
        <th class="common">Energía</th>
    </tr>
  {% for planet in my_planets: %}
      <tr>
        <td class="common">{{ planet.getName() }}</td>
        <td class="common">{{ planet.sunDistanceTime(0) }}</td>
        <td class="common">{{ planet.module_angular_moment(90) }}</td>
        <td class="common">{{ planet.energy(90) }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
<p>Estos son algunos cálculos que se han realizados sobre los datos anteriores, si
se prefiere calcular en instantes determinados o calcular algunos de estos
atributos más especificamente dirijase a la sección de cálculos.</p>
{% endblock %}
