<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  </head>
  <header>
    <div class="title">
      <table style="width:100%">
        <tr>
          <td width="10%"><img src="/static/iconapp.png" height="40%"></td>
          <td><h1><a class="head" href="/"> A kepler Solar System</a></h1></td>
        </tr>
      </table>
    </div>
    <div>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/calculate/">Calcular</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
